<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <div class="container">
<form action="/signUp" method="post">

     <div class="mb-3">
    <label for="fullname" class="form-label">Full Name</label><br>
    <input type="text" class="form-control" id="fullname" name="fullname" required><br>
  </div><br>
  <div class="mb-5">
    <label for="email" class="form-label">Email address</label><br>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
  </div><br>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label><br>
    <input type="password" class="form-control" id="password" name="password" required>
  </div><br>

  <button type="submit" class="btn btn-primary" >Submit</button>


</form>
    </div>
   
    
</body>
</html>
    
</body>
</html>