<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <div class="container">

      <h5>Please SignIn</h5>
<form action="/signIn" method="post">

     
  <div class="mt-4">
    <label for="email" class="form-label">Email address</label><br>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
  </div>
  <div class="mt-4"><br>
    <label for="password" class="form-label">Password</label><br>
    <input type="password" class="form-control" id="password" name="password" required>
  </div><br>
  
  <button type="submit" class="btn btn-primary">Submit</button>
   

</form>
    </div>
   
    
</body>
</html>
    
</body>

</html>